// This is the scss for all Header elements, code is in order of pages home, about, contact, work-history, blog
body{
    margin: 0px;
    font-family: Helvetica, sans-serif;
}
header{
    .logo{
        background-image: linear-gradient(to bottom right,#D391FA, #C364FA, #A230ED, #6B00D7, #3E00B3,#190087);
        font-family: Heebo, Helvetica, sans-serif;
        font-weight:100;
        color: white;
        text-align: center;
        height: 115px;
            span{
                font-family: Helvetica, sans-serif;
                font-weight: 800;
                color: white;
            }
            a{
                color: white;
                text-align: center;
                text-decoration: none;
                font-size: 1.5em;
            }
            h1{
                margin: 0px;
                padding-top: 20px;
                padding-bottom: 0px;
            }    
    }
}
.navigation{
    display: flex;
    justify-content: space-around;
    align-content: center;
    background-color: black;
    color: white;
    height: 30px;
    padding: 10px;
    a{
        font-family: Heebo, Helvetica, sans-serif;
        font-weight: 400;
        color: white;
    }
}
.socialblock{
    display: flex;
    justify-content: space-around;
    align-content: center;
    background-color: black;
    color: white;
    height: 50px;
    padding: 10px;
    img{
        width: 30px;
        height: 30px;
    }
}
.block{
    background-image: linear-gradient(to bottom right,#D391FA, #C364FA, #A230ED, #6B00D7, #3E00B3,#190087);
    color: black;
    text-align: center;
    height: 40px;
    h3{
        margin: 0px;
        padding: 6px;
        font-family: Heebo, Helvetica, sans-serif;
        font-weight: 400;
        color: white;
    }
}
footer{
    background-color: black;
    font-family: Heebo, Helvetica, sans-serif;
    font-weight: 100;
    color: white;
    text-align: center;
    h6{
        margin-top: 0px;
        margin-bottom: 0px;
        padding: 0px;
    }
}
// This is the scss for all body elements, code is nested in order of pages home, about, contact, work-history, blog
.body{
    .homedisplay{
        margin: 0;
        position: relative;
        text-align: center;
        a{
            text-decoration: none;
            color: #190087;
        }
        img{
            margin: 0px;
            width: 100%;
            height: auto;
        }
        .textoverlay{
            font-family: Heebo, Helvetica, sans-serif;
            font-weight: 400;
            font-size: 2.5em;
            color: white;
            text-shadow: 2px 2px #6B00D7;
            position: absolute;
            top: 40%;
            left: 50%;
            transform: translate(-50%, -50%)
        }
    }
    .profile{
        text-align: center;
        img{
            Width:200px;
            border-radius: 50%;
            margin: 30px;
        }
    }
    .bio{
        margin-left: 10%;
        margin-right: 10%;
        text-align: justify;
        text-justify: inter-word;
        .quoteblock{
            font-family: Heebo, Helvetica, sans-serif;
            font-size: 50px;
            font-style: italic;
            color:#6B00D7;
        }
        p{
            margin-top: 5px;
        }
    }
    form{
        display: flex;
        flex-direction: column;
        align-items: center;
        input[type=text]{
            width: 50%;
        }
        #message{
            height:200px;
        }
        input[type=submit]{
            background-image: linear-gradient(to bottom right,#D391FA, #C364FA, #A230ED, #6B00D7, #3E00B3,#190087);
            font-family: Heebo, Helvetica, sans-serif;
            font-weight: 400;
            font-size: 20px;
            color: white;
            padding: 12px 20px;
            margin-bottom: 30px;
            border: none;
        }
    }
    .resumeworkhistory{
        display: flex;
        flex-direction: column;
        align-content: center;
        flex-wrap: wrap;
        justify-content: space-around;
        h3{
            font-size: 25px;
        }
        h4{
            font-size: 20px;
        }
        .resume{
            display: flex;
            flex-wrap: wrap;
            align-self: center;
            background-image: linear-gradient(to bottom right,#D391FA, #C364FA, #A230ED, #6B00D7, #3E00B3,#190087);
            width: fit-content;
            padding: 12px 20px;
            margin-top: 30px;
            margin-bottom: 15px;
            border: none;
            a{
                font-family: Heebo, Helvetica, sans-serif;
                font-weight: 400;
                font-size: 20px;
                color: white;
                text-decoration: none;
            }
        }
        .currentwork{
            width: 70%;
            margin-top: 15px;
            margin-bottom: 15px;
            box-shadow: 2px 2px 2px 2px lightgray;
        }
        .workhistory{
            width: 70%;
            margin-top: 15px;
            margin-bottom: 15px;
            box-shadow: 2px 2px 2px 2px lightgray;
        }
        .education{
            width: 70%;
            margin-top: 15px;
            margin-bottom: 15px;
            box-shadow: 2px 2px 2px 2px lightgray;
        }
        .skills{
            width: 70%;
            margin-top: 15px;
            margin-bottom: 30px;
            box-shadow: 2px 2px 2px 2px lightgray;
    
        }
    }
    .bloglayout{
        margin-top: 15px;
        margin-bottom: 15px;
        a{
            text-decoration: none;
            padding: 5px;
            display: flex;
            flex-wrap: wrap;
            flex-direction: column;
            align-content: center;
        }
        .articlecontainer{
            width:70%;
            height: auto;
            margin-top: 15px;
            margin-bottom: 15px;
            background-color: white;
            display:flex;
            flex-direction:column;
            flex-wrap: wrap;
            justify-content: space-between;
            box-shadow: 2px 2px 2px 2px lightgray;
            @media only screen and (min-width: 800px){
                width:50%;
                height: auto;
            }
            img{
                width: 100%;
                height: auto;
            }
            .profilepic{
                border-radius: 50%;
                width: 50px;
                height: 50px;
                padding: 5px;
            }
        }
    }
}
// This is where i style the article contents on my site
article{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    h1{
        text-align: center;
        font-size: 35px;
        margin-bottom: 10px;
    }
    h3{
        text-align: center;
        font-size: 25px;
        font-style: italic;
        color:#6B00D7;
        margin-top: 0px;
    }
    h4{
        font-size: 20px;
        margin-bottom: 5px;
    }
    .authorblock{
        margin-top: 0px;
        font-weight: 100;
    }
    .blogimage{
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        img{
            @media only screen and (max-width: 799px){
            width: 80%;
            }
            @media only screen and (min-width: 800px){
                width: 60%;
            }
        }
    }
    .content{
        text-align: justify;
        text-justify: inter-word;
        @media only screen and (max-width: 799px){
            margin-left: 10%;
            margin-right: 10%;
        }
        @media only screen and (min-width: 800px){
            margin-left: 20%;
            margin-right: 20%;
        }
        .quoteblock{
            font-family: Heebo, Helvetica, sans-serif;
            font-size: 50px;
            font-style: italic;
            color:#6B00D7;
        }
        p{
            margin-top: 5px;
        }
    }
    .nextarticle{
        background-image: linear-gradient(to bottom right,#D391FA, #C364FA, #A230ED, #6B00D7, #3E00B3,#190087);
        width: fit-content;
        padding: 12px 20px;
        border: none;
        margin-top: 30px;
        margin-bottom: 30px;
        a{
            font-family: Heebo, Helvetica, sans-serif;
            font-weight: 400;
            font-size: 20px;
            color: white;
            text-decoration: none;
        }
    }
}