body {
  margin: 0px;
  font-family: Helvetica, sans-serif;
}

header .logo {
  background-image: linear-gradient(to bottom right, #D391FA, #C364FA, #A230ED, #6B00D7, #3E00B3, #190087);
  font-family: Heebo, Helvetica, sans-serif;
  font-weight: 100;
  color: white;
  text-align: center;
  height: 105px;
}
header .logo span {
  font-family: Helvetica, sans-serif;
  font-weight: 800;
  color: white;
}
header .logo a {
  color: white;
  text-align: center;
  text-decoration: none;
}
header .logo h1 {
  margin: 0px;
  padding-top: 20px;
  padding-bottom: 10px;
}

.navigation {
  display: flex;
  justify-content: space-around;
  align-content: center;
  background-color: black;
  color: white;
  height: 30px;
  padding: 10px;
}
.navigation a {
  font-family: Heebo, Helvetica, sans-serif;
  font-weight: 400;
  color: white;
}

.socialblock {
  display: flex;
  justify-content: space-around;
  align-content: center;
  background-color: black;
  color: white;
  height: 50px;
  padding: 10px;
}
.socialblock img {
  width: 30px;
  height: 30px;
}

.block {
  background-image: linear-gradient(to bottom right, #D391FA, #C364FA, #A230ED, #6B00D7, #3E00B3, #190087);
  color: black;
  text-align: center;
  height: 30px;
}
.block h3 {
  margin: 0px;
  padding: 6px;
  font-family: Heebo, Helvetica, sans-serif;
  font-weight: 400;
  color: white;
}

footer {
  background-color: black;
  font-family: Heebo, Helvetica, sans-serif;
  font-weight: 100;
  color: white;
  text-align: center;
}

.body .homedisplay {
  margin: 0;
}
.body .homedisplay a {
  text-decoration: none;
}
.body .homedisplay img {
  margin: 0px;
  width: 100%;
  height: auto;
}
.body .profile img {
  Width: 200px;
  border-radius: 50%;
}
.body form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.body form input[type=text] {
  width: 50%;
}
.body form #message {
  height: 200px;
}
.body form input[type=submit] {
  background-image: linear-gradient(to bottom right, #D391FA, #C364FA, #A230ED, #6B00D7, #3E00B3, #190087);
  font-family: Heebo;
  font-weight: 400;
  color: white;
  padding: 12px 20px;
  border: none;
}
.body .resume {
  background-image: linear-gradient(to bottom right, #D391FA, #C364FA, #A230ED, #6B00D7, #3E00B3, #190087);
  width: fit-content;
  padding: 12px 20px;
  border: none;
}
.body .resume a {
  font-family: Heebo;
  font-weight: 400;
  color: white;
  text-decoration: none;
}
.body .bloglayout a {
  text-decoration: none;
  padding: 5px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-content: center;
}
.body .bloglayout .articlecontainer {
  width: 70%;
  height: auto;
  background-color: white;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  box-shadow: 2px 2px 2px 2px lightgray;
}
.body .bloglayout .articlecontainer img {
  width: 100%;
  height: auto;
}
.body .bloglayout .articlecontainer .profilepic {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  padding: 5px;
}

article {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
article h1 {
  text-align: center;
  font-size: 35px;
  margin-bottom: 10px;
}
article h3 {
  text-align: center;
  font-size: 25px;
  font-style: italic;
  color: #6B00D7;
  margin-top: 0px;
}
article h4 {
  font-size: 20px;
  margin-bottom: 5px;
}
article .authorblock {
  margin-top: 0px;
  font-weight: 100;
}
article .blogimage {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
article .blogimage img {
  width: 90%;
}
article .content {
  margin-left: 10%;
  margin-right: 10%;
  text-align: justify;
  text-justify: inter-word;
}
article .content .quoteblock {
  font-family: Heebo, Helvetica, sans-serif;
  font-size: 50px;
  font-style: italic;
  color: #6B00D7;
}
article .content p {
  margin-top: 5px;
}
article .nextarticle {
  background-image: linear-gradient(to bottom right, #D391FA, #C364FA, #A230ED, #6B00D7, #3E00B3, #190087);
  width: fit-content;
  padding: 12px 20px;
  border: none;
  margin-top: 30px;
  margin-bottom: 30px;
}
article .nextarticle a {
  font-family: Heebo;
  font-weight: 400;
  color: white;
  text-decoration: none;
}

/*# sourceMappingURL=style.css.map */
